


.container {
  width: 60%;
  background: #FFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px auto 10px auto !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow {
  
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #F3F3F3;
  border: none !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.navbar{
  background-color: #F3F3F3;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.btn{
  padding: 10px;
  background: gray;
  color: white;
  border-radius: 10px;
}
.btn:hover{
  background-color: rgb(150, 115, 115);
}
.name{
  padding: 10px;
}
.box{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #a09e9e;
  
  margin: 5px;
  border-radius: 12px;
}
.delete{
  background-color: rgb(233, 87, 87);
  color: white;
  padding: 5px;
  border-radius: 12px;
}
.delete:hover{
  background-color: red;
}
.doc{
  width: 80%;
  cursor: pointer;
}
.back{
  width: 100%;
  display: flex;
  justify-content: end;
  
}
.backbtn{
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 0 9px;
}